RECOVER*.fla
.sass-cache
*.as3proj

bin-debug/*
bin-release/srcview
bin-release/Aerovale.html

# OS Crap
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*

# SCM files
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project