/* line 66, sprites/ico/*.png */
.ico-sprite, .ico-calendar, .ico-clock, .ico-seta-close, .ico-seta-open {
  background: url('../images/sprites/ico-s6b500280f8.png') no-repeat; }

/* line 60, ../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-calendar {
  background-position: 0 0;
  height: 36px;
  width: 32px; }

/* line 60, ../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-clock {
  background-position: -32px 0;
  height: 35px;
  width: 35px; }

/* line 60, ../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-seta-close {
  background-position: -67px 0;
  height: 25px;
  width: 15px; }

/* line 60, ../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-seta-open {
  background-position: -82px 0;
  height: 15px;
  width: 25px; }

/* line 55, ../sass/aerovale.scss */
html {
  font: 1em/1.5 serif;
  overflow-y: scroll;
  min-height: 100%; }

/* line 27, ../sass/aerovale.scss */
.cf:before, .media:before, .cf:after, .media:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
/* line 34, ../sass/aerovale.scss */
.cf:after, .media:after {
  clear: both; }
/* line 38, ../sass/aerovale.scss */
.cf, .media {
  zoom: 1; }

/* line 65, ../sass/aerovale.scss */
.direcaoAerovale {
  background-color: #ebac12;
  color: white;
  padding: 20px;
  padding: 1.25rem; }
  /* line 69, ../sass/aerovale.scss */
  .direcaoAerovale small {
    margin-left: 20px;
    margin-left: 1.25rem; }

/* line 75, ../sass/aerovale.scss */
.frmFiltroAeronave {
  position: relative;
  z-index: 800; }
  /* line 79, ../sass/aerovale.scss */
  .frmFiltroAeronave .frm-actions,
  .frmFiltroAeronave .frm-grupo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 10px;
    vertical-align: baseline; }
  /* line 85, ../sass/aerovale.scss */
  .frmFiltroAeronave .frm-controle {
    position: relative; }
  /* line 89, ../sass/aerovale.scss */
  .frmFiltroAeronave label {
    color: #ebac12; }
  /* line 93, ../sass/aerovale.scss */
  .frmFiltroAeronave select {
    min-width: 170px;
    min-width: 10.625rem; }
  /* line 98, ../sass/aerovale.scss */
  .frmFiltroAeronave input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100px;
    max-width: 6.25rem;
    height: 32px;
    height: 2rem; }
  /* line 104, ../sass/aerovale.scss */
  .frmFiltroAeronave button {
    min-width: 70px;
    min-width: 4.375rem; }

/* line 109, ../sass/aerovale.scss */
.media {
  display: block; }

/* line 114, ../sass/aerovale.scss */
.media__img {
  float: left;
  margin-right: 10px; }

/* line 119, ../sass/aerovale.scss */
.media__img img {
  display: block; }

/* line 123, ../sass/aerovale.scss */
.media__body {
  overflow: hidden; }

/* line 128, ../sass/aerovale.scss */
.media__body,
.media__body > :last-child {
  margin-bottom: 0; }

/* line 133, ../sass/aerovale.scss */
.resultadoAerovale ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 137, ../sass/aerovale.scss */
  .resultadoAerovale ul li {
    padding: 20px;
    padding: 1.25rem;
    background-color: #f7f7f7;
    margin-top: 10px;
    border: 1px solid #EEE; }
    /* line 142, ../sass/aerovale.scss */
    .resultadoAerovale ul li .handlerLista {
      cursor: pointer;
      background-image: url('../images/sprites/ico/seta-close.png?1368687031');
      background-repeat: no-repeat;
      background-position: 100% 50%; }
      /* line 149, ../sass/aerovale.scss */
      .resultadoAerovale ul li .handlerLista.open {
        background-image: url('../images/sprites/ico/seta-open.png?1368687094'); }
    /* line 155, ../sass/aerovale.scss */
    .resultadoAerovale ul li .contentLista {
      display: none; }
/* line 160, ../sass/aerovale.scss */
.resultadoAerovale table {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 10px; }
  /* line 164, ../sass/aerovale.scss */
  .resultadoAerovale table td {
    vertical-align: top;
    padding: 20px;
    padding: 1.25rem; }
