/* line 82, sprites/ico/*.png */
.ico-sprite, .ico-bullet-down, .ico-buscar-rota, .ico-calendar, .ico-clock, .ico-seta-close, .ico-seta-open {
  background: url('../images/sprites/ico-sbd3e906558.png') no-repeat; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-bullet-down {
  background-position: 0 0;
  height: 9px;
  width: 13px; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-buscar-rota {
  background-position: -13px 0;
  height: 41px;
  width: 130px; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-calendar {
  background-position: -143px 0;
  height: 36px;
  width: 32px; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-clock {
  background-position: -175px 0;
  height: 35px;
  width: 35px; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-seta-close {
  background-position: -210px 0;
  height: 25px;
  width: 15px; }

/* line 60, ../../../../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ico-seta-open {
  background-position: -225px 0;
  height: 15px;
  width: 25px; }

/* line 57, ../sass/aerovale.scss */
html {
  font: 1em/1.5 serif;
  overflow-y: scroll;
  min-height: 100%; }

/* line 29, ../sass/aerovale.scss */
.cf:before, .frmFiltroAeronave:before, .media:before, .cf:after, .frmFiltroAeronave:after, .media:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
/* line 36, ../sass/aerovale.scss */
.cf:after, .frmFiltroAeronave:after, .media:after {
  clear: both; }
/* line 40, ../sass/aerovale.scss */
.cf, .frmFiltroAeronave, .media {
  zoom: 1; }

/* line 67, ../sass/aerovale.scss */
.ir {
  border: 0;
  font: 0/0 Arial;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* line 75, ../sass/aerovale.scss */
.alignDados {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  padding-left: 7px;
  padding-left: 0.4375rem;
  padding-right: 7px;
  padding-right: 0.4375rem; }

/* line 82, ../sass/aerovale.scss */
.direcaoAerovale {
  background-color: #ebac12;
  color: white;
  padding: 20px;
  padding: 1.25rem; }
  /* line 86, ../sass/aerovale.scss */
  .direcaoAerovale small {
    margin-left: 20px;
    margin-left: 1.25rem; }

/* line 92, ../sass/aerovale.scss */
.frmFiltroAeronave {
  position: relative;
  z-index: 800; }
  /* line 97, ../sass/aerovale.scss */
  .frmFiltroAeronave .frm-actions,
  .frmFiltroAeronave .frm-grupo {
    position: relative;
    vertical-align: baseline;
    margin-right: 10px;
    float: left;
    min-height: 60px; }
  /* line 105, ../sass/aerovale.scss */
  .frmFiltroAeronave .frm-controle {
    position: relative; }
  /* line 109, ../sass/aerovale.scss */
  .frmFiltroAeronave label {
    color: #ebac12;
    font: 500 15px "CaeciliaLTStd-Bold"; }
  /* line 119, ../sass/aerovale.scss */
  .frmFiltroAeronave input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100px;
    max-width: 6.25rem;
    height: 32px;
    height: 2rem; }
  /* line 125, ../sass/aerovale.scss */
  .frmFiltroAeronave button {
    min-width: 70px;
    min-width: 4.375rem;
    position: absolute;
    left: -30px;
    bottom: 10px;
    cursor: pointer;
    z-index: 10; }
    /* line 132, ../sass/aerovale.scss */
    .frmFiltroAeronave button:active {
      bottom: 9px; }

/* line 138, ../sass/aerovale.scss */
.theCombo {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 12px;
  font-size: 0.75rem;
  padding-left: 6px;
  padding-left: 0.375rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  width: 280px;
  height: 28px;
  height: 1.75rem;
  line-height: 28px;
  line-height: 1.75rem;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../images/combo.png?1369171143');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer; }

/* line 162, ../sass/aerovale.scss */
.media {
  display: block; }

/* line 167, ../sass/aerovale.scss */
.media__img {
  float: left;
  margin-right: 10px; }

/* line 172, ../sass/aerovale.scss */
.media__img img {
  display: block; }

/* line 176, ../sass/aerovale.scss */
.media__body {
  overflow: hidden; }

/* line 181, ../sass/aerovale.scss */
.media__body,
.media__body > :last-child {
  margin-bottom: 0; }

/* line 186, ../sass/aerovale.scss */
.resultadoAerovale ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 190, ../sass/aerovale.scss */
  .resultadoAerovale ul li {
    padding: 20px;
    padding: 1.25rem;
    background-color: #f7f7f7;
    margin-top: 10px;
    border: 1px solid #EEE; }
    /* line 195, ../sass/aerovale.scss */
    .resultadoAerovale ul li .handlerLista {
      min-height: 25px;
      line-height: 25px;
      cursor: pointer;
      background-image: url('../images/sprites/ico/seta-close.png?1368687031');
      background-repeat: no-repeat;
      background-position: 100% 50%; }
      /* line 204, ../sass/aerovale.scss */
      .resultadoAerovale ul li .handlerLista.open {
        background-image: url('../images/sprites/ico/seta-open.png?1368687094'); }
    /* line 210, ../sass/aerovale.scss */
    .resultadoAerovale ul li .contentLista {
      display: none; }
/* line 215, ../sass/aerovale.scss */
.resultadoAerovale table {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 10px;
  table-layout: fixed; }
  /* line 220, ../sass/aerovale.scss */
  .resultadoAerovale table td {
    vertical-align: top;
    padding: 20px;
    padding: 1.25rem; }
