@import "compass";

$orange: #ebac12;
$gray: #f7f7f7;
$white: #FFFFFF;

$base-spacing-unit: 10px;
$base-font-size: 16px!default;
$base-line-height:  24px!default;
$line-height-ratio: $base-line-height / $base-font-size;

// Functions
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

@function relative-size($size, $base:16, $unit:rem) {
    @return #{strip-units($size)/strip-units($base)}$unit;
}

// Mixins
@mixin attr-size($attr, $size, $base:16, $unit:rem) {
    #{$attr}: #{strip-units($size)}px;
    #{$attr}: relative-size($size, $base, $unit);
}

@mixin clear-floats(){
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    & {
        zoom: 1;
    }
}

@mixin inline-block(){
    display:inline-block;

    // IE7 fix
    *display:inline;
    *zoom:1;
}

$ico-layout: horizontal;
@import "sprites/ico/*.png";
@include all-ico-sprites(true);

html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} serif;
    overflow-y:scroll;
    min-height:100%;
}

.cf{
    @include clear-floats;
}

.ir {
    border: 0;
    font: 0/0 Arial;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.direcaoAerovale{
    background-color: $orange;
    color: $white;
    @include attr-size('padding',20);
    small{
        @include attr-size('margin-left',20);
    }
}

// Filtro
.frmFiltroAeronave{
    position: relative;
    z-index: 800;
    .frm-actions,
    .frm-grupo{
        @include inline-block;
        margin-left: 10px;
        vertical-align: baseline;
    }

    .frm-controle{
        position: relative;
    }

    label{
        color: $orange;
    }

    select{
        @include attr-size('min-width',170);
    }

    input[type=text]
    {
        @include box-sizing(border-box);
        @include attr-size('max-width',100);
        @include attr-size('height',32);
    }

    button{
        @include attr-size('min-width',70);
        position: relative;
        top: -7px;
        cursor:pointer;
        &:active{
            top: -6px;
        }
    }
}

.theCombo{
    @include ellipsis;
    @include box-sizing(border-box);
    @include border-radius(3px);
    @include attr-size('font-size',12);
    @include attr-size('padding',4);
    @include attr-size('padding-right',40);
    @include attr-size('width',140);
    border: thin solid darken($gray, 13.7%);
    white-space: nowrap;
    overflow: hidden;
    background:{
        image: image_url('sprites/ico/bullet-down.png');
        repeat: no-repeat;
        position:95% 50%;
        color: transparent;
    };
    color: inherit;
    cursor:pointer;
}

.media{
    @extend .cf;
    display:block;
}

.media__img{
    float:left;
    margin-right:$base-spacing-unit;
}

.media__img img{
    display:block;
}
    
.media__body{
    overflow:hidden;
}

.media__body,
.media__body > :last-child{
    margin-bottom:0;
}

.alignDados{
    @include box-sizing(border-box);
    width:700px;
    @include attr-size('padding',7);
}

.resultadoAerovale{
    ul{
        margin: 0;
        padding: 0;
        list-style:none;
        li{
            @include attr-size('padding',20);
            background-color: $gray;
            margin-top: 10px;
            border: 1px solid #EEE;
            .handlerLista{
                min-height: 25px;
                line-height: 25px;
                cursor: pointer;
                background:{
                    image: image_url('sprites/ico/seta-close.png');
                    repeat: no-repeat;
                    position: 100% 50%;
                }
                &.open{
                    background:{
                        image: image_url('sprites/ico/seta-open.png');
                    }
                }
            }
            .contentLista{
                display: none;
            }
        }
    }
    table{
        width: 100%;
        background-color: $gray;
        margin-top: 10px;
        table-layout: fixed;
        td{
            vertical-align: top;
            // padding: 20px 5px;
            @include attr-size('padding',20);
        }
    }
}
